element.style{
    
}
:root{
    view-transition-name: root;
}
html{
    display: block;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.middle-container {
    margin: 100px 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.middle-container {
    margin: 100px 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.intro {
    width: 30%;
    margin: auto;
}
p {
    line-height: 2;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
p {
    line-height: 2;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}